*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.screen
{
    background: url(apple\ background-2.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    padding-bottom:20px;
}
#pop i
{
    font-size: 28px;
}
.screen i
{
    font-size: 25px;
}
.screen #app
{
    text-align: center;
    margin-top: 20px;
}
.screen #pop
{
    display: inline-block;
    margin-top: 10px;
    margin-right: 9px;
    text-align: center;
    width: 68px;
    padding: 1px;
    /* border: 1px solid black; */
    flex-flow: nowrap;
}
#nav1
{
    text-align: center;
    justify-content: center;
}
#nav1 #cam
{
    padding: 5px;
    font-size: 14px;
}
#nav1 #hg
{
    margin-right: 5px;
    font-size: 14px;
}
#nav1 #mic
{
    padding: 5px;
    font-size: 14px;
}
#nav1 input 
{
    padding:1px;
    background-color: transparent;
    border: none;
}
#nav1
{
    /* border: 1px solid black; */
    width: 260px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(7, 7, 7, 0.24);
}
.cont
{
    padding-top: 70vh;
}
#camera
{
    color: white;
    background-color: rgba(255, 0, 43, 0.863);
    padding: 5px;
    border-radius: 10px;
}
#message
{
    color: whitesmoke;
    background-color: rgb(0, 183, 255);
    padding: 5px;
    border-radius: 10px;
}
#phone
{
    color: white;
    background-color: rgb(0, 255, 13);
    padding: 5px;
    border-radius: 10px;
}
#clock
{
    color: whitesmoke;
    background-color: rgb(255, 74, 246);
    padding: 5px;
    border-radius: 10px;
}
#cal
{
    color: white;
    background-color: rgb(150, 216, 18);
    padding: 5px;
    border-radius: 10px;
}
#play
{
    color: white;
    background-color: darkblue;
    padding: 5px;
    border-radius: 10px;
}
#you
{
    color: red;
    background-color: rgb(233, 233, 233);
    padding: 5px;
    border-radius: 10px;
}
#home
{
    color: white;
    background-color: orangered;
    padding: 5px;
    border: 1px solid orangered;
    border-radius: 10px;
}
a
{
    color: white;
    margin-top: 5px;
    text-decoration: none;
}
